body {
  padding-top: 70px
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 50px 0;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: auto;
}

.a {
  color: #0184d5;
}

.a:hover {
  color: #2a6496;
}

.red {
  color: red;
}

.contentPartials {
  padding-top: 20px;
}

/* HEADER */

.header{
  margin-bottom: 20px;
}

.img_logout {
  cursor: pointer;
  width: 20%;
  max-width: 20%;
  height: auto;
}

.navbar {
  background-color: #0184d5;
  border-color: #0184d5;
}

.navbar .navbar-brand, .navbar .nav a {
  color: #FFFFFF !important;
}

.navbar .navbar-brand:hover, .navbar .nav a:hover {
  background-color: #0074C5 !important;
}

/* MENU */

.menu_group {
  border: 1px solid #0184d5;
  border-radius: 4px;
  margin-bottom: 10px;
}

.menu_group p {
  background-color: #0184d5;
  color: white;
  padding: 10px;
  margin-bottom: 0;
  font-size: 18px;
  border-bottom: 1px solid #0184d5;
}

.menu_group li {
  width:100%;
  margin-top: 0 !important;
}

.menu_group a {
  padding: 20px;
}

.menu_group .open, .menu_group .open a {
  background-color: #93C0DB;
}

.menu_group li:hover, .menu_group a:hover {
  background-color: #93C0DB !important;
}

/* Buscar ofertas */

.elemento_oferta {
  border-bottom: 1px solid #0184d5;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentPartials{
  border: 1px solid #0184d5;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#formOferta h1, #detallesOferta h1{ margin-top: -20px;}

#formOferta h1 span, #detallesOferta h1 span{ background-color: #fff;}

#formOferta thead, #detallesOferta thead{
  background-color: #99cdee;
  font-weight: bold;
}

#SeccionPrincipal,
#SeccionInformacionContacto,
#SeccionInformacionPuesto,
#SeccionRequisitos{ border-bottom: 2px solid #0184d5;}

#detallesOferta .lateralIzquierdo{
  font-weight: bold;
}

#detallesOferta .infoOferta{
  margin-bottom: 10px;
}

.miniButtons{
  margin-left: 15px;
  margin-top: 5px;
}

.fullSize{
  width : 100%;
}
/*
.ngTopPanel, .ngFooterPanel{
  background-color: #52BCFE;
}*/

