<div class="row-fluid">
	<form novalidate name="form" class="form-horizontal col-xs-offset-3">
		<div class="form-group">
			<label for="username" class="col-xs-3 control-label">Nombre de usuario</label>
			<div class="col-xs-4">
	            <input type="text" required ng-model="user.username" class="form-control col-sm-12" name="username" placeholder="Usuario"/>
	        </div>
	    </div>
	    <div class="form-group">
			<label for="password" class="col-xs-3 control-label">Contraseña</label>
			<div class="col-xs-4">
	            <input type="password" required ng-model="user.password" class="form-control col-sm-12" name="password" placeholder="Contraseña"/>
	        </div>
		</div>
	<div ng-if="errorMessages.type" class="col-xs-6 col-xs-offset-1 text-center alert {{ errorMessages.type }}">
	  {{ errorMessages.msn }}
	</div>
		<div class="form-group text-center col-xs-8">
			<a href="">Recuperar contraseña</a>
			<button class="btn btn-success" ng-disabled="form.$invalid" ng-click="login(user)">Login</button>
	<div class="text-center" ng-show="loading">
		<img id="spinner" ng-src="img/loading.gif">
	</div>
		</div>
	</form>
</div>