                <div class="menu_group">
                  <p class="lead">Bolsa de empleo</p>
                  <ul id="sidebar" class="nav nav-stacked">
                    <li ng-class="{ open: isActive('/buscarOfertas')}"><a href="#/buscarOfertas">Buscar ofertas</a></li>
                    <li ng-class="{ open: isActive('/buscarPerfiles')}" restrict access="EmpresaPremium Estudiante Profesor"><a href="">Buscar perfiles</a></li>
                    <li ng-class="{ open: isActive('/publicarOferta')}" restrict access="Empresa EmpresaPremium Estudiante Profesor"><a href="#/publicarOferta">Publicar Oferta</a></li>
                    <li ng-class="{ open: isActive('/nuevasSuscripciones')}" restrict access="Empresa EmpresaPremium Estudiante Profesor"><a href="">Nuevas suscripciones</a></li>
                    <li ng-class="{ open: isActive('/misOfertas')}" restrict access="Empresa EmpresaPremium Estudiante Profesor"><a href="#/misOfertas">Mis ofertas</a></li>
                    <li ng-class="{ open: isActive('/misSuscripciones')}" restrict access="Estudiante Profesor"><a href="#/misSuscripciones">Mis suscripciones</a></li>
                  </ul>
                </div>
                <div restrict access="Administrador" class="menu_group">
                  <p restrict access="Administrador" class="lead">Administración</p>
                  <ul restrict access="Administrador" id="sidebar" class="nav nav-stacked">
                    <li ng-class="{ open: isActive('/nuevasEmpresas')}" restrict access="Administrador"><a href="#/">Nuevas empresas</a></li>
                    <li ng-class="{ open: isActive('/')}" restrict access="Administrador"><a href="#/">Denuncias</a></li>
                    <li ng-class="{ open: isActive('/modificaciones')}" restrict access="Administrador"><a href="#/">Modificaciones</a></li>
                    <li ng-class="{ open: isActive('/listaNegra')}" restrict access="Administrador"><a href="#/">Lista negra</a></li>
                  </ul>
                </div>
                <div restrict access="EmpresaPremium" class="menu_group">
                  <p restrict access="EmpresaPremium" class="lead">Funciones Premium</p>
                  <ul restrict access="EmpresaPremium" id="sidebar" class="nav nav-stacked">
                    <li ng-class="{ open: isActive('/estadisticasOferta')}" restrict access="EmpresaPremium"><a href="#/">Estadísticas oferta</a></li>
                  </ul>
                </div>
                <div restrict access="Empresa EmpresaPremium Estudiante Profesor" class="menu_group">
                  <p class="lead">Configuración</p>
                  <ul id="sidebar" class="nav nav-stacked">
                    <li ng-class="{ open: isActive('/miPerfil')}" restrict access="Empresa EmpresaPremium Estudiante Profesor"><a href="">Mi perfil</a></li>
                    <li ng-class="{ open: isActive('/serviciosPremium')}" restrict access="Empresa EmpresaPremium"><a href="">Servicios Premium</a></li>
                    <li ng-class="{ open: isActive('/privacidad')}" restrict access="Estudiante"><a href="">Opciones de privacidad</a></li>
                    <li ng-class="{ open: isActive('/notificaciones')}" restrict access="Estudiante"><a href="">Opciones de notificacion</a></li>
                  </ul>
                </div>