<div class="row-fluid">
	<form novalidate class="simple-form">
		<div class="row text-center">
			Tipo de oferta: <select ng-model="query.tipooferta" ng-options="t.name for t in tipos_oferta"></select>
		</div>
		<div class="row text-center">
			Estudios: <select ng-model="query.especialidades" ng-options="t.resource_uri as t.nombre group by t.facultad for t in especialidades">
				<option value="">Todas</option>
			</select>
		</div>
		<div class="row text-center">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="query.fecha_de_incorporacion__gte" is-open="opened" show-button-bar="False" show-weeks="False" datepicker-popup='yyyy-mm-dd'/>
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
		</div>
		<div class="row text-center">
			Horario: <select ng-model="query.horario" ng-options="t.id as t.name for t in tipos_horario">
				<option value="">Todas</option>
			</select>
		</div>
		<div class="row text-center">
			Tipo de Jornada: <select ng-model="query.tipos_jornada" ng-options="t.id as t.name for t in tipos_jornada">
				<option value="">Todas</option>
			</select>
		</div>
		<div ng-show="tfgShow(query)" class="row text-center">
			<input type="checkbox" ng-model="query.hay_posibilidad_de_tfg"> Posibilidad de TFG
		</div>
		<div ng-show="ultCurso(query)" class="row text-center">
			 Último curso superado <select ng-model="query.ultimo_curso_academico_superado" ng-options="t.id as t.name for t in ultimo_curso_academico_superado"><option value="">Todas</option></select>
		</div>
		<div class="row text-center">
			<button class="btn btn-default" ng-click="OfertasQuery(query)">Buscar</button>
		</div>
	</form>
</div>

<div class="row-fluid" >
	<div class="text-center" ng-show="loading">
		<img id="spinner" ng-src="img/loading.gif">
	</div>
	<div class="text-center" ng-show="sinResultados">
		Sin resultados
	</div>
	<div ng-repeat="oferta in ofertas" ng-hide="loading">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-9"><a href="#/detallesOferta/{{ oferta.tipo }}/{{ oferta.id }}">{{oferta.titulo}}</a></div>
			   	<div class="col-md-3">{{oferta.horario}}</div>
		   	</div>
		   	</br>
		   	<div class="row">
			   	<div class="col-md-9">{{oferta.direccion}}</div>
				<div class="col-md-3">{{oferta.fecha_de_incorporacion}}</div>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-2" style="border-bottom:solid; padding-bottom:10px; margin-top:10px"></div>
	</div>
</div>
 <div class="text-center row-fluid" ng-hide="loading || sinResultados">
 <pagination direction-links="false" boundary-links="true" items-per-page="limit" total-items="totalItems" page="currentPage" on-select-page="selectPage(page)"></pagination>
 </div>
