<div class="text-center" ng-show="loading">
	<img id="spinner" ng-src="img/loading.gif">Cargando oferta
</div>
<form novalidate name="form" id="detallesOferta" class="form-horizontal col-xs-12">
<div ng-if="errorMessages.type" class="text-center alert {{ errorMessages.type }}">
  {{ errorMessages.msn }}
</div>
	<div class="col-md-12" id="detallesOferta" ng-hide="loading">
		<h1><span>Información de la oferta</span></h1>
		<div id="SeccionPrincipal" class="col-md-12">
				<div ng-if="oferta.titulo" class="col-md-2 lateralIzquierdo infoOferta">Titulo</div>
				<div ng-if="oferta.titulo" class="col-md-10 infoOferta">{{oferta.titulo}}
          <div style="float: right; margin-top:-30px">
            <button type="button" class="btn btn-default btn-sm" ng-click="open(oferta.id)">
              <span class="glyphicon glyphicon-warning-sign"></span> Denunciar
            </button>
          </div>
        </div>
				<div ng-if="oferta.descripcion" class="col-md-2 lateralIzquierdo infoOferta">Descripción</div>
				<div ng-if="oferta.descripcion" class="col-md-10 infoOferta">{{oferta.descripcion}}</div>
				<div ng-if="oferta.direccion" class="col-md-2 lateralIzquierdo infoOferta">Ubicación</div>
				<div ng-if="oferta.direccion" class="col-md-10 infoOferta">{{oferta.direccion}} <a href="#/{{ tipousuario }}/{{ autorOferta(oferta.usuario) }}">{{ textousuario }}</a></div>
				<div ng-if="oferta.numero_de_puestos_vacantes" class="col-md-2 lateralIzquierdo infoOferta">Vacantes</div>
				<div ng-if="oferta.numero_de_puestos_vacantes" class="col-md-10 infoOferta">{{oferta.numero_de_puestos_vacantes}}</div>
	  </div>
		<div id="SeccionInformacionContacto" class="col-md-12">
			<h2>Información de contacto</h2>
				<div ng-if="oferta.persona_de_contacto" class="col-md-3 lateralIzquierdo infoOferta">Persona de contacto</div>
				<div ng-if="oferta.persona_de_contacto" class="col-md-9 infoOferta">{{oferta.persona_de_contacto}}</div>
				<div ng-if="oferta.email_de_contacto" class="col-md-3 lateralIzquierdo infoOferta">Correo de contacto</div>
				<div ng-if="oferta.email_de_contacto" class="col-md-9 infoOferta">{{oferta.email_de_contacto}}</div>
		</div>
	  <div id="SeccionInformacionPuesto" class="col-md-12">
			<h2>Información sobre el puesto</h2>
				<div ng-if="oferta.puesto" class="col-md-4 lateralIzquierdo infoOferta">Puesto</div>
				<div ng-if="oferta.puesto" class="col-md-8 infoOferta">{{oferta.puesto}}</div>
				<div ng-if="oferta.tipo_de_contrato" class="col-md-4 lateralIzquierdo infoOferta">Tipo de contrato</div>
				<div ng-if="oferta.tipo_de_contrato" class="col-md-8 infoOferta">{{ getTipoContratoText(oferta.tipo_de_contrato) }}</div>
				<div ng-if="oferta.tipo_de_jornada" class="col-md-4 lateralIzquierdo infoOferta">Tipo de jornada</div>
				<div ng-if="oferta.tipo_de_jornada" class="col-md-8 infoOferta">{{ getTipoJornadaText(oferta.tipo_de_jornada)}}</div>
				<div ng-if="oferta.horario" class="col-md-4 lateralIzquierdo infoOferta">Horario</div>
				<div ng-if="oferta.horario" class="col-md-8 infoOferta">{{getHorarioText(oferta.horario)}}</div>
				<div ng-if="oferta.fecha_de_incorporacion" class="col-md-4 lateralIzquierdo infoOferta">Fecha de incorporación</div>
				<div ng-if="oferta.fecha_de_incorporacion" class="col-md-8 infoOferta">{{oferta.fecha_de_incorporacion}}</div>
				<div ng-if="oferta.salario_mensual" class="col-md-4 lateralIzquierdo infoOferta">Salario mensual</div>
				<div ng-if="oferta.salario_mensual" class="col-md-8 infoOferta">{{oferta.salario_mensual}} €</div>
				<div ng-if="oferta.meses_de_duracion" class="col-md-4 lateralIzquierdo infoOferta">Duración</div>
				<div ng-if="oferta.meses_de_duracion" class="col-md-8 infoOferta">{{oferta.meses_de_duracion}} meses</div>
				<div ng-if="oferta.ultimo_curso_academico_superado" class="col-md-4 lateralIzquierdo infoOferta">Último curso academico</div>
				<div ng-if="oferta.ultimo_curso_academico_superado" class="col-md-8 infoOferta">{{ getUltimoCursoKey(oferta.ultimo_curso_academico_superado)}}</div>
				<div ng-if="oferta.hay_posibilidad_de_tfg" class="col-md-4 lateralIzquierdo infoOferta">Posibilidad de TFG</div>
				<div ng-if="oferta.hay_posibilidad_de_tfg" class="col-md-8 infoOferta">{{ getPosibilidadTFG(oferta.hay_posibilidad_de_tfg)}}</div>
				<div ng-if="beneficiosLaborales" class="col-md-4 lateralIzquierdo infoOferta">Beneficios laborales</div>
				<div ng-if="beneficiosLaborales" class="col-md-8 infoOferta">
					<ul>
				    <li ng-repeat="beneficio in beneficiosLaborales">{{ beneficio.name }}</li>
					</ul>
				</div>

		</div>
		<div id="SeccionRequisitos" class="col-md-12">
			<h2>Requisitos de la oferta</h2>
			<div ng-if="oferta.especialidades" class="col-md-3 lateralIzquierdo infoOferta">Estudios necesarios</div>
			<div ng-if="oferta.especialidades" class="col-md-9 infoOferta">
					<ul>
				    <li ng-repeat="especialidad in oferta.especialidades">{{ especialidad.nombre }} ( {{ especialidad.facultad }} )</li>
					</ul>
			</div>
			<div class="row">
				<h4>Conocimientos tecnicos</h4>
				<table class="table table-striped table-bordered table-condensed text-center">
					<thead>
						<td>Conocimiento</td>
						<td>Nivel</td>
					</thead>
					<tbody>
						<tr ng-repeat="conocimiento in requisitos_de_conocimiento_tecnico">
							<td class="col-md-6">{{ conocimiento.conocimiento }}</td>
							<td class="col-md-5">{{ conocimiento.nivel}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<h4>Idiomas</h4>
				<table class="table table-striped table-bordered table-condensed text-center">
					<thead>
						<td>Idioma</td>
						<td>Nivel</td>
					</thead>
					<tbody>
						<tr ng-repeat="idioma in requisitos_de_idioma">
							<td class="col-md-6">{{ idioma.idioma }}</td>
							<td class="col-md-5">{{ idioma.nivel}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<h4>Experiencia</h4>
				<table class="table table-striped table-bordered table-condensed text-center">
					<thead>
						<td>Sector</td>
						<td>Meses de experiencia</td>
					</thead>
					<tbody>
						<tr ng-repeat="exp in requisitos_de_experiencia">
							<td class="col-md-6 text-center">{{ exp.sector }}</td>
							<td class="col-md-5">{{ exp.meses }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="text-center">
			<button ng-show="esEstudiante(oferta.usuario)" class="btn btn-lg btn-success" ng-click="suscripcion(oferta.id,  suscrito)">{{ buttonText }}</button>
	</div>
	</form>