  <tabset>
    <tab heading="Ofertas activas">
      <div class="row">
        <h4>Ofertas Activas</h4>
          <div ui-if="myDataActiva.length>0" class="gridStyle" ng-style="getTableStyleActiva()" ng-grid="gridOptionsActiva"></div>
      </div>
    </tab>
    <tab heading="Ofertas anteriores">
      <div class="row">
        <h4>Ofertas Pasadas</h4>
          <div ui-if="myDataPasada.length>0" class="gridStyle" ng-style="getTableStylePasada()" ng-grid="gridOptionsPasada"></div>
      </div>
    </tab>
  </tabset>