<form novalidate name="form" id="formOferta" class="form-horizontal col-xs-12">
	<h1><span>{{ titulo }}</span></h1>
	<div id="SeccionPrincipal">
	    <div class="form-group">
	        <label for="titulo" class="col-xs-2 control-label">Titulo<span class="red">*</span></label>
	        <div class="col-xs-10" ng-class="{ 'has-error' : form.titulo.$invalid && !form.titulo.$pristine }">
	            <input type="text" maxlength="100" required ng-model="oferta.titulo" class="form-control col-sm-10" name="titulo" placeholder="Titulo de la oferta"/>
	            <p ng-show="form.titulo.$invalid && !form.titulo.$pristine" class="help-block">El titulo de la oferta es obligatorio.</p>
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="descripcion" class="col-xs-2 control-label">Descripción<span class="red">*</span></label>
	        <div class="col-xs-10" ng-class="{ 'has-error' : form.descripcion.$invalid && !form.descripcion.$pristine }">
	            <textarea class="form-control col-sm-10" name="descripcion" maxlength="600" placeholder="Descripción de la oferta" required ng-model="oferta.descripcion" rows="4"></textarea>
	            <p ng-show="form.descripcion.$invalid && !form.descripcion.$pristine" class="help-block">La descripción de la oferta es obligatoria.</p>
	        </div>
	    </div>

	    <div class="form-group">
	        <label for="ubicacion" class="col-xs-2 control-label">Ubicación</label>
	        <div class="col-xs-6">
	            <input maxlength="200" type="text" name="ubicacion" placeholder="Ubicación" class="form-control" ng-model="oferta.direccion">
	        </div>
	        <label for="plazas" class="col-xs-1 control-label">Vacantes</label>
	        <div class="col-xs-3" ng-class="{ 'has-error' : form.plazas.$invalid && !form.plazas.$pristine }">
	            <input type="number" min="1" name="plazas" placeholder="Vacantes" class="form-control" ng-model="oferta.numero_de_puestos_vacantes">
	            <p ng-show="form.plazas.$invalid && !form.plazas.$pristine" class="help-block">Las vacantes deben ser un número.</p>
	        </div>
	    </div>
    </div>
	<div id="SeccionInformacionContacto">
		<h2>Información de contacto</h2>
	    <div class="form-group">
	        <label for="persona_de_contacto" class="col-xs-3 control-label">Persona de contacto<span class="red">*</span></label>
	        <div class="col-xs-9" ng-class="{ 'has-error' : form.persona_de_contacto.$invalid && !form.persona_de_contacto.$pristine }">
	            <input type="text" maxlength="100" required ng-model="oferta.persona_de_contacto" class="form-control col-sm-10" name="persona_de_contacto" placeholder="Persona de contacto"/>
	            <p ng-show="form.persona_de_contacto.$invalid && !form.persona_de_contacto.$pristine" class="help-block">La persona de contacto es obligatoria.</p>
	        </div>
	    </div>
	    <div class="form-group">
	        <label for="email_de_contacto" class="col-xs-3 control-label">Correo de contacto<span class="red">*</span></label>
	        <div class="col-xs-9" ng-class="{ 'has-error' : form.email_de_contacto.$invalid && !form.email_de_contacto.$pristine }">
	            <input type="email" maxlength="100" required ng-model="oferta.email_de_contacto" class="form-control col-sm-10" name="email_de_contacto" placeholder="Correo de contacto"/>
	            <p ng-show="form.email_de_contacto.$invalid && !form.email_de_contacto.$pristine" class="help-block">El correo de contacto es obligatorio y debe ser válido.</p>
	        </div>
	    </div>
    </div>
    <div id="SeccionInformacionPuesto">
		<h2>Información sobre el puesto</h2>
	    <div class="form-group">
	        <label for="puesto" class="col-xs-2 control-label">Puesto</label>
	        <div class="col-xs-4">
	            <input maxlength="150" type="text" name="puesto" placeholder="Puesto" class="form-control" ng-model="oferta.puesto">
	        </div>
	        <label for="tipo_de_contrato" class="col-xs-2 control-label">Tipo de contrato</label>
	        <div class="col-xs-4">
	            <select ng-model="oferta.tipo_de_contrato" name="tipo_de_contrato" class="form-control" ng-options="t.id as t.name for t in tipos_contrato"></select>
	        </div>
	    </div>

	    <div class="form-group">
	        <label for="tipo_de_jornada" class="col-xs-2 control-label">Tipo de jornada</label>
	        <div class="col-xs-4">
				<select  ng-model="oferta.tipo_de_jornada" name="tipo_de_jornada" class="form-control" ng-options="t.id as t.name for t in tipos_jornada"></select>
	        </div>
	        <label for="horario" class="col-xs-2 control-label">Horario</label>
	        <div class="col-xs-4">
	            <select ng-model="oferta.horario" name="horario" class="form-control" ng-options="t.id as t.name for t in tipos_horario"></select>
	        </div>
	    </div>

	    <div class="form-group">
	        <label for="fecha_de_incorporacion" class="col-xs-2 control-label">Fecha de incorporación<span class="red">*</span></label>
	        <div class="col-xs-4" ng-class="{ 'has-error' : form.fecha_de_incorporacion.$invalid && !form.fecha_de_incorporacion.$pristine }">
				<p class="input-group">
					<input type="text" required class="form-control" placeholder="Fecha de incorporación" name="fecha_de_incorporacion" datepicker-popup="{{format}}" ng-model="oferta.fecha_de_incorporacion" is-open="opened" show-button-bar="False" show-weeks="False" datepicker-popup='yyyy-mm-dd'/>
					<span class ="input-group-btn">
						<button class="btn btn-default" ng-click="open($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
				<p ng-show="form.fecha_de_incorporacion.$invalid && !form.fecha_de_incorporacion.$pristine" class="help-block">La fecha de incorporación es obligatoria.</p>
	        </div>
	        <label for="salario_mensual" class="col-xs-2 control-label">Salario mensual</label>
	        <div class="col-xs-4" ng-class="{ 'has-error' : form.salario_mensual.$invalid && !form.salario_mensual.$pristine }">
	        	<input type="number" placeholder="Salario mensual" name="salario_mensual" class="form-control" min="0" ng-model="oferta.salario_mensual">
	        	<p ng-show="form.salario_mensual.$invalid && !form.salario_mensual.$pristine" class="help-block">El salario debe ser numerico.</p>
	        </div>
	    </div>

	    <div class="form-group">
	        <label for="meses_de_duracion" class="col-xs-2 control-label">Duración</label>
	        <div class="col-xs-4" ng-class="{ 'has-error' : form.meses_de_duracion.$invalid && !form.meses_de_duracion.$pristine }">
		        	<input type="number" placeholder="Meses de duración" name="meses_de_duracion" class="form-control" min="1" ng-model="oferta.meses_de_duracion">
	        		<p ng-show="form.meses_de_duracion.$invalid && !form.meses_de_duracion.$pristine" class="help-block">Los meses de duración deben ser numericos.</p>
	        </div>
	        <label ng-show="showUltimoCurso" for="ultimo_curso_academico_superado" class="col-xs-2 control-label">Último curso academico</label>
	        <div ng-show="showUltimoCurso" class="col-xs-4">
	            <select ng-model="oferta.ultimo_curso_academico_superado" name="ultimo_curso_academico_superado" class="form-control" ng-options="t.id as t.name for t in ultimo_curso_academico_superado"></select>
	        </div>
	    </div>
		    <div class="form-group">
			<div ng-show="showTfg" class="col-xs-12">
			  <label>
			    <input name="hay_posibilidad_de_tfg" type="checkbox" ng-model="oferta.hay_posibilidad_de_tfg">
			    Posibilidad de TFG
			  </label>
			</div>
		</div>
		<div id="SeccionBeneficiosLaborales" style="overflow:hidden">
			<h3>Beneficios laborales</h3>
			<div class="form-group col-xs-10 col-xs-offset-1">
				<div class="col-xs-4 text-right" ng-repeat="beneficio in beneficiosLaborales">
					<label>
						{{ beneficio.name }} <input type="checkbox" value="{{beneficio.id}}" check-list='checked_beneficios'>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row"></div>
	<div id="SeccionRequisitos col-md-12">
		<h2>Requisitos de la oferta</h2>
		<h3>Estudios admitidos</h3>
		<div class="form-group">
			<select multiple="multiple" size="8" class="form-control" ng-model="oferta.especialidades" ng-options="t.resource_uri as t.nombre group by t.facultad for t in especialidades"></select>
		</div>


		<div class="row">
			<h3>Conocimientos tecnicos</h3>
			<table class="table table-striped table-bordered table-condensed text-center">
				<thead>
					<td>Conocimiento</td>
					<td>Nivel</td>
					<td></td>
				</thead>
				<tbody>
					<tr ng-repeat="conocimiento in requisitos_de_conocimiento_tecnico">
						<td class="col-md-6">{{ conocimiento.conocimiento }}</td>
						<td class="col-md-5">{{ conocimiento.nivel}}</td>
						<td class="col-md-1"><button class="btn btn-sm btn-danger" ng-click="deleteConocimiento(conocimiento)">Eliminar</button></td>
					</tr>
				</tbody>
			</table>
			<div class="form-group">
				<label for="conocimientonombre" class="col-xs-2 control-label">Conocimiento</label>
				<div class="col-xs-3">
					<select ng-model="ct.nombre" name="conocimientonombre" class="form-control" ng-options="t as t.conocimiento for t in conocimientotecnico"></select>
				</div>
					<label for="conocimientonivel" class="col-xs-1 control-label">Nivel</label>
					<div class="col-xs-2">
					<select ng-model="ct.nivel" name="conocimientonivel" class="form-control" ng-options="t.id as t.name for t in niveles_conocimiento"></select>
				</div>
				<button class="btn btn-primary col-xs-3" ng-click="addConocimiento(ct)">Añadir conocimiento tecnico</button>
			</div>
		</div>

		<div class="row">
			<h3>Idiomas</h3>
			<table class="table table-striped table-bordered table-condensed text-center">
				<thead>
					<td>Idioma</td>
					<td>Nivel</td>
					<td></td>
				</thead>
				<tbody>
					<tr ng-repeat="idioma in requisitos_de_idioma">
						<td class="col-md-6">{{ idioma.idioma }}</td>
						<td class="col-md-5">{{ idioma.nivel}}</td>
						<td class="col-md-1"><button class="btn btn-sm btn-danger" ng-click="deleteIdioma(idioma)">Eliminar</button></td>
					</tr>
				</tbody>
			</table>
			<div class="form-group">
				<label for="idiomanombre" class="col-xs-2 control-label">Idioma</label>
				<div class="col-xs-3">
					<select ng-model="idiomatoadd.nombre" name="idiomanombre" class="form-control" ng-options="t as t.idioma for t in idiomas"></select>
				</div>
					<label for="idiomanivel" class="col-xs-1 control-label">Nivel</label>
					<div class="col-xs-2">
					<select ng-model="idiomatoadd.nivel" name="idiomanivel" class="form-control" ng-options="t.id as t.name for t in niveles_conocimiento"></select>
				</div>
				<button class="btn btn-primary col-xs-3" ng-click="addIdioma(idiomatoadd)">Añadir idioma</button>
			</div>
		</div>

		<div class="row">
			<h3>Experiencia</h3>
			<table class="table table-striped table-bordered table-condensed text-center">
				<thead>
					<td>Sector</td>
					<td>Meses de experiencia</td>
					<td></td>
				</thead>
				<tbody>
					<tr ng-repeat="exp in requisitos_de_experiencia">
						<td class="col-md-6 text-center">{{ exp.sector }}</td>
						<td class="col-md-5">{{ exp.meses }}</td>
						<td class="col-md-1"><button class="btn btn-sm btn-danger" ng-click="deleteExp(exp)">Eliminar</button></td>
					</tr>
				</tbody>
			</table>
			<div class="form-group">
				<label for="experiencianombre" class="col-xs-2 control-label">Experiencia</label>
				<div class="col-xs-3">
					<select ng-model="experienciatoadd.sector" name="experiencianombre" class="form-control" ng-options="t as t.sector for t in sectormercado"></select>
				</div>
					<label for="experienciameses" class="col-xs-1 control-label">Meses</label>
					<div class="col-xs-2" ng-class="{ 'has-error' : form.experienciameses.$invalid && !form.experienciameses.$pristine }">
						<input type="number" class="form-control" name="experienciameses" min="1" placeholder="Meses" ng-model="experienciatoadd.meses">
						<p ng-show="form.experienciameses.$invalid && !form.experienciameses.$pristine" class="help-block">Los meses deben ser numericos.</p>
					</div>
				<button class="btn btn-primary col-xs-3" ng-click="addExp(experienciatoadd)">Añadir experiencia</button>
			</div>
		</div>
	</div>
	<div class="text-center">
		<span>Los campos con <span class="red">*</span> son obligatorios</span>
		<button class="btn btn-lg btn-success" ng-disabled="form.$invalid" ng-click="crearOferta(oferta, checked_beneficios)">{{ buttonText }}</button>
	</div>
</form>