<form novalidate class="simple-form">
	<h1>{{ titulo }}</h1>
	<div class="row">
			Titulo: <input type="text" ng-model="oferta.titulo">
	</div>
	<div class="row">
			Descripcion: <input type="text" ng-model="oferta.descripcion">
	</div>
	<div class="row">
			Direccion: <input type="text" ng-model="oferta.direccion">
	</div>
	<div class="row">
			Email de contacto: <input type="text" ng-model="oferta.email_de_contacto">
	</div>
	<div class="row">
		Fecha de incorporación
		<p class="input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="oferta.fecha_de_incorporacion" is-open="opened" show-button-bar="False" show-weeks="False" datepicker-popup='yyyy-mm-dd'/>
			<span class="input-group-btn">
				<button class="btn btn-default" ng-click="open($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
	</div>
	<div ng-show="showTfg" class="row">
			TSG incluido: <input type="checkbox" ng-model="oferta.hay_posibilidad_de_tfg">
	</div>
	<div class="row">
		Horario: <select ng-model="oferta.horario" ng-options="t.id as t.name for t in tipos_horario"></select>
	</div>
	<div class="row">
			Duración: <input type="text" ng-model="oferta.meses_de_duracion">
	</div>
	<div class="row">
			Vacantes: <input type="text" ng-model="oferta.numero_de_puestos_vacantes">
	</div>
	<div class="row">
			Persona de contacto: <input type="text" ng-model="oferta.persona_de_contacto">
	</div>
	<div class="row">
			Puesto: <input type="text" ng-model="oferta.puesto">
	</div>
	<div class="row">
			Salario mensual: <input type="text" ng-model="oferta.salario_mensual">
	</div>
	<div class="row">
			Tipo de Jornada: <select ng-model="oferta.tipo_de_jornada" ng-options="t.id as t.name for t in tipos_jornada"></select>
	</div>
	<div ng-show="showUltimoCurso" class="row">
			Ultimo curso academico: <input type="checkbox" ng-model="oferta.ultimo_curso_academico_superado">
	</div>
	<div class="row">
		<select multiple="multiple" ng-model="oferta.especialidades" ng-options="t.resource_uri as t.nombre group by t.facultad for t in especialidades"></select>
	</div>
	<div class="row text-center">
		<button class="btn btn-default" ng-click="crearOferta(oferta)">Crear Oferta</button>
	</div>
</form>