<form novalidate class="simple-form">
	<h1>{{ titulo }}</h1>
	<div class="row">
			Titulo: <input type="text" ng-model="oferta.titulo">
	</div>
	<div class="row">
			Descripcion: <input type="text" ng-model="oferta.descripcion">
	</div>
	<div class="row">
			Direccion: <input type="text" ng-model="oferta.direccion">
	</div>
	<div class="row">
			Email de contacto: <input type="text" ng-model="oferta.email_de_contacto">
	</div>
	<div class="row">
		Fecha de incorporación
		<p class="input-group">
			<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="oferta.fecha_de_incorporacion" is-open="opened" show-button-bar="False" show-weeks="False" datepicker-popup='yyyy-mm-dd'/>
			<span class="input-group-btn">
				<button class="btn btn-default" ng-click="open($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
	</div>
	<div ng-show="showTfg" class="row">
			TSG incluido: <input type="checkbox" ng-model="oferta.hay_posibilidad_de_tfg">
	</div>
	<div class="row">
		Horario: <select ng-model="oferta.horario" ng-options="t.id as t.name for t in tipos_horario"></select>
	</div>
	<div class="row">
			Duración: <input type="text" ng-model="oferta.meses_de_duracion">
	</div>
	<div class="row">
			Vacantes: <input type="text" ng-model="oferta.numero_de_puestos_vacantes">
	</div>
	<div class="row">
			Persona de contacto: <input type="text" ng-model="oferta.persona_de_contacto">
	</div>
	<div class="row">
			Puesto: <input type="text" ng-model="oferta.puesto">
	</div>
	<div class="row">
			Salario mensual: <input type="text" ng-model="oferta.salario_mensual">
	</div>
	<div class="row">
			Tipo de Jornada: <select ng-model="oferta.tipo_de_jornada" ng-options="t.id as t.name for t in tipos_jornada"></select>
	</div>
	<div class="row">
			Tipo de Contrato: <select ng-model="oferta.tipo_de_contrato" ng-options="t.id as t.name for t in tipos_contrato"></select>
	</div>
	<div ng-show="showUltimoCurso" class="row">
			Ultimo curso academico: <input type="checkbox" ng-model="oferta.ultimo_curso_academico_superado">
	</div>
	<div class="row">
		<select multiple="multiple" ng-model="oferta.especialidades" ng-options="t.resource_uri as t.nombre group by t.facultad for t in especialidades"></select>
	</div>
	<div class="row">
		<div class="col-md-4 text-center" ng-repeat="beneficio in beneficiosLaborales">
			{{ beneficio.name }} <input type="checkbox" value="{{beneficio.id}}" check-list='checked_beneficios'>
		</div>
	</div>

<div class="row">
	<h4>Conocimientos tecnicos</h4>
	<table class="table table-striped">
		<thead>
			<td>Conocimiento</td>
			<td>Nivel</td>
			<td></td>
		</thead>
		<tbody>
			<tr ng-repeat="conocimiento in requisitos_de_conocimiento_tecnico">
				<td>{{ conocimiento.conocimiento }}</td>
				<td>{{ conocimiento.nivel}}</td>
				<td><button class="btn" ng-click="deleteConocimiento(conocimiento)">Del</button></td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<select ng-model="ct.nombre" ng-options="t as t.conocimiento for t in conocimientotecnico"></select>
		<select ng-model="ct.nivel" ng-options="t.id as t.name for t in niveles_conocimiento"></select>
		<button class="btn btn-default" ng-click="addConocimiento(ct)">Añadir conocimiento tecnico</button>
	</div>
</div>

<div class="row">
	<h4>Idiomas</h4>
	<table class="table table-striped">
		<thead>
			<td>Idioma</td>
			<td>Nivel</td>
			<td></td>
		</thead>
		<tbody>
			<tr ng-repeat="idioma in requisitos_de_idioma">
				<td>{{ idioma.idioma }}</td>
				<td>{{ idioma.nivel}}</td>
				<td><button class="btn" ng-click="deleteIdioma(idioma)">Del</button></td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<select ng-model="idiomatoadd.nombre" ng-options="t as t.idioma for t in idiomas"></select>
		<select ng-model="idiomatoadd.nivel" ng-options="t.id as t.name for t in niveles_conocimiento"></select>
		<button class="btn btn-default" ng-click="addIdioma(idiomatoadd)">Añadir idioma</button>
	</div>
</div>

<div class="row">
	<h4>Experiencia</h4>
	<table class="table table-striped">
		<thead>
			<td>Sector</td>
			<td>Meses de experiencia</td>
			<td></td>
		</thead>
		<tbody>
			<tr ng-repeat="exp in requisitos_de_experiencia">
				<td>{{ exp.sector }}</td>
				<td>{{ exp.meses }}</td>
				<td><button class="btn" ng-click="deleteExp(exp)">Del</button></td>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<select ng-model="experienciatoadd.sector" ng-options="t as t.sector for t in sectormercado"></select>
		<input type="text" ng-model="experienciatoadd.meses"></select>
		<button class="btn btn-default" ng-click="addExp(experienciatoadd)">Añadir experiencia</button>
	</div>
</div>


	<div class="row text-center">
		<button class="btn btn-default" ng-click="crearOferta(oferta, checked_beneficios)">Crear Oferta</button>
	</div>
</form>