<div id="misOfertasPartial">
  <div ng-if="errorMessages.type" class="text-center alert {{ errorMessages.type }}">
  {{ errorMessages.msn }}
</div>
<div class="col-md-12" id="detallesOferta" ng-hide="loading">
  <h1><span>Oferta seleccionada</span></h1>
  <div id="SeccionPrincipal" class="col-md-12">
      <div ng-if="oferta.titulo" class="col-md-2 lateralIzquierdo infoOferta">Titulo</div>
      <div ng-if="oferta.titulo" class="col-md-10 infoOferta">{{oferta.titulo}}</div>
      <div ng-if="oferta.fecha_de_incorporacion" class="col-md-4 lateralIzquierdo infoOferta">Fecha de incorporación</div>
      <div ng-if="oferta.fecha_de_incorporacion" class="col-md-8 infoOferta">{{oferta.fecha_de_incorporacion}}</div>

      <div ng-if="oferta.descripcion" class="col-md-2 lateralIzquierdo infoOferta">Descripción</div>
      <div ng-if="oferta.descripcion" class="col-md-10 infoOferta">{{oferta.descripcion}}</div>

  </div>
</div>

  <tabset>
    <tab heading="Suscripciones activas">
      <div class="col-xs-12">
        <h4>Suscripciones Recibidas Activas</h4>
          <div class="text-center" ng-show="loadingActivas">
            <img id="spinner" ng-src="img/loading.gif">
          </div>
          <div ng-hide="myDataActiva.length>0 || loadingActivas" class="text-center alert alert-info">No tienes suscripciones activas</div>
          <div ng-show="myDataActiva.length>0 && !loadingActivas" class="gridStyle" ng-style="getTableStyleActiva()" ng-grid="gridOptionsActiva"></div>
      </div>
    </tab>
    <tab heading="Suscripciones pasadas">
      <div class="col-xs-12">
        <h4>Suscripciones Recibidas Pasadas</h4>
          <div class="text-center" ng-show="loadingPasadas">
            <img id="spinner" ng-src="img/loading.gif">
          </div>
          <div ng-hide="myDataPasada.length>0 || loadingPasadas" class="text-center alert alert-info">No tienes suscripciones pasadas</div>
          <div ng-show="myDataPasada.length>0 && !loadingPasadas" class="gridStyle" ng-style="getTableStylePasada()" ng-grid="gridOptionsPasada"></div>
      </div>
    </tab>
  </tabset>
  </div>