<div id="misOfertasPartial">
  <div ng-if="errorMessages.type" class="text-center alert {{ errorMessages.type }}">
  {{ errorMessages.msn }}
</div>
  <tabset>
    <tab heading="Suscripciones activas">
      <div class="col-xs-12">
        <h4>Suscripciones Activas</h4>
          <div class="text-center" ng-show="loadingActivas">
            <img id="spinner" ng-src="img/loading.gif">
          </div>
          <div ng-hide="myDataActiva.length>0 || loadingActivas" class="text-center alert alert-info">No tienes suscripciones activas</div>
          <div ng-show="myDataActiva.length>0 && !loadingActivas" class="gridStyle" ng-style="getTableStyleActiva()" ng-grid="gridOptionsActiva"></div>
      </div>
    </tab>
    <tab heading="Suscripciones pasadas">
      <div class="col-xs-12">
        <h4>Suscripciones Pasadas</h4>
          <div class="text-center" ng-show="loadingPasadas">
            <img id="spinner" ng-src="img/loading.gif">
          </div>
          <div ng-hide="myDataPasada.length>0 || loadingPasadas" class="text-center alert alert-info">No tienes suscripciones pasadas</div>
          <div ng-show="myDataPasada.length>0 && !loadingPasadas" class="gridStyle" ng-style="getTableStylePasada()" ng-grid="gridOptionsPasada"></div>
      </div>
    </tab>
  </tabset>
  </div>